body {
    font-family: "微軟正黑體";
}

.breadcrumb-sec {
    max-width: 1140px;
    margin: auto;
    padding: 30px;
}

.breadcrumb-item>li {
    display: inline-block;
    padding: 0 3px;
    font-weight: lighter;
}

.breadcrumb-item>li>a {
    list-style-type: none;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal;
}

.info-sec {
    display: flex;
    width: 100%;
    max-width: 700px;
    height: 580px;
    margin: auto;
    margin-top: 100px;
}

.info-sec>.aside {
    width: 33.33%;
    padding: 70px 0 0 30px;
}

@media screen and (max-width: 768px) {
    .info-sec {
        flex-direction: column;
        align-items: center;
    }
    .info-sec>.aside {
        display: flex;
        width: 66.66%;
        padding: 0;
    }
    .info-sec>.aside>a {
        margin: 0 0;
        width: 50%;
    }
}


/* info-sec 768 end */

.aside>.active {
    background-color: #FEDC5E;
    border: none;
}

.aside>a {
    display: block;
    width: 100px;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin: 10px 0;
}

.user-form {
    width: 66.66%;
    padding: 30px;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .1em;
    margin-bottom: 25px;
}

input[type="text"] {
    height: 40px;
    outline: #029f5b;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    margin: .5em 0 2em 0;
    font-size: 0.9rem;
}

input:focus {
    border-color: #029f5b;
}

.btn {
    display: flex;
    justify-content: flex-end;
}

.cancel-btn,
.submit-btn {
    width: 100px;
    font-size: 1rem;
    border-radius: 4px;
    padding: 10px 0;
    margin: 40px 0 0 10px;
    outline: none;
    box-shadow: 1px 2px 4px rgb(180, 179, 179);
}

.cancel-btn {
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    color: gray;
}

.cancel-btn:focus {
    border: 1px solid lightgray;
}

.submit-btn {
    background-color: rgb(255, 59, 59);
    border: none;
    color: white;
}


/* --- order --- */

.order {
    width: 66.66%;
    padding: 30px;
    display: none;
}

h1 {
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: .1em;
    margin-bottom: 25px;
}

.order-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: 5px 0;
    line-height: 40px;
    border-bottom: 1px solid lightgray;
    font-size: .9rem;
}

.order-box>button {
    width: 60px;
    height: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

.check-btn>a {
    display: block;
    font-size: .9em;
    letter-spacing: .1em;
}